header{ background:linear-gradient(45deg, rgb(41, 41, 41), rgb(35, 35, 250));
}
#search-button {
    background-color:#3A3335

}


.col-lg-9 {
    background: linear-gradient(45deg, rgb(91, 102, 255), rgb(0, 0, 123));
}

#form-heading {
    background-color: #FDF0D5
}

#user-input {
    background-color: #3A3335;
    color: #ffffff;
}

