header{ background:linear-gradient(45deg, rgb(41, 41, 41), rgb(35, 35, 250));
}
#search-button {
    background-color:#3A3335

}

.col-lg-9 {
    background: linear-gradient(45deg, rgb(144, 144, 144), blue);
}

#form-heading {
    background-color: #c99122
}

#user-input {
    background-color: #3A3335;
    color: #ffffff;
}

